.newForm {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.newForm .gardenFormField {
    margin-bottom: 10px;
}

.newForm textarea {
    padding: .78571429em 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

.newForm textarea::placeholder { 
    color: rgb(199,199,199);
}

.newForm .loadingDiv {
    margin-top: 10px !important;
    text-align: center;
}

.newForm .filePicker {
    display: none !important;
}

.newForm .fileLabel {
    padding: .78571429em 1em;
    border-radius: .28571429rem;
    background-color: #29339B;
    color: #FFF8F0;
    font-weight: bold;
    border: 0px;
}

.newForm .fileLabel:hover {
    background-color: #658E9C;
}

.newForm .submitButton {
    background-color: #06A77D;
    color: #FFF8F0;
    font-weight: bold;
    padding: .78571429em 1em;
    border-radius: .28571429rem;
    border: 0px;
}

.newForm .submitButton:hover {
    background-color: #F1A208;
}